.toggle-button {
  background: transparent;
  width: 70px;
  height: 52px;
  margin-top: 5%;
  border: none;
  cursor: pointer;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
}

.toggle-button:focus {
  outline: none;
}

.button-line {
  margin: 8px;
  width: 40px;
  height: 3px;
  padding: 5%;
  background: white;
}