.list-wrapper{
  padding: 0% 25%;
}

.listing-results-container{
  background-color: transparent;
  height: 400px;
  width: 100%;
  margin: 5% auto;
  position: relative;
  background-image: url(../sample.jpg);
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: top;
}

.listing-title {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  bottom: 50px;
  color: rgb(5, 231, 194);
}

.listing-cost {
  width: 170px;
  height: 50px;
  background-color: rgb(126, 126, 126);
  font-weight: 00;
  font-size: 30px;
  padding-top: 8px;
}

.image-container {
  position: absolute;
  left: auto;
  right: auto;
  z-index: 0;
  top: 0px;
  left: 0px;
}

.listing-info {
  position: absolute;
  font-size: 15px;
  width: 100%;
  bottom: 0px;
  text-align: left;
}