.home-main-container{
  background-image: url('../../images/home-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 110%;
  position: relative;
}

.home-main-container h1 {
  padding-top: 5%;
  text-align: center;
  color: rgb(219, 122, 150);
  font-weight: 900;
}

.home-main-container .map-container {
  position: absolute;
  right: 5%;
  top: 20%;
}
