.filters-search-container {
  width: 100%;
  margin-top: 70px;
  position: center;
  top: 80px;
  display: flex;
  z-index: 2;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.search-container {
  width: 40%;
  margin-right: 5%;
}

.search-icon {
  margin-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 240px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content-guest {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content-guest {
  display: block;
}

.dropdown:hover .button {
  background-color: #32b5f9;
  color: white;
}

.button {
  background-color: #fff; /* Green */
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: 8px 20px;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 110px;
  border: 1px solid #7a7a7a;
  border-radius: 3px;
}

.filter-container {
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
}